@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.customScroll::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  @apply duration-500;
}
.customScroll::-webkit-scrollbar-track {
  @apply bg-slate-200 /* color of the tracking area */;
}
.customScroll::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */

  /* creates padding around scroll thumb */
  @apply bg-primary;
}
.row4 {
  grid-template-columns: auto repeat(3, minmax(0, 1fr));
}

* {
  font-family: "Lato", sans-serif;
}
